body {
    margin: 0px;
    padding: 0px;
    font-family: 'Baloo Bhaina 2', cursive;
    color: white;
}
.header{
    background-color: blue;
}
.left{
    display: inline-block;
    position: absolute;
    left: 34px;
    top: 22px;
}
.left img{
    width: 136px;
    line-height: 0px;
}
.center{
    display: block;
    width: 50%;
    margin: 22px auto;

}
.right{
    display: inline-block;
    position: absolute;
    right: 34px;
    top: 22px;
}
.navbar ul {
    display: inline-block;
}
.navbar ul li {
    display: inline-block;
}
.navbar ul li a {
    text-decoration: none;
    margin: 25px;
    color: white;
    font-size: 25px;
}
.navbar ul li a:hover, .navbar ul li a:active{
    color: gray;
}
.btn{
    margin: 0px 9px ;
    color: white;
    background-color: black;
    padding: 4px 14px ;
    border: 2px solid gray;
    border-radius: 10px;
    font-family: 'Baloo Bhaina 2', cursive;
}
.btn:hover{
    background-color: rgb(66, 45, 45);
}
.container{
    border: 2px solid white;
    margin: 31px 80px;
    padding: 1px 47px;
    width: 33%;
    border-radius: 28px;
}
.form-group input{
    font-family: 'Baloo Bhaina 2', cursive;
    text-align: center;
    display: block;
    width: 514px;
    padding: 1px;
    border: 2px solid black;
    margin: 3px auto;
    border-radius: 11px;
    font-size: 25px;
}
.container h1 {
    text-align: center;
}
.container button {
    display: block;
    width: 98%;
    margin: 14px auto;
    font-size: 25px;
}